/src/videos/vR.mp4
*.mp3
*.mp4
securePass.txt
*.txt 


# اگر دیدید فابلهایی که داخل گیتایگنور زدید رفته سمت گیتهاب 
# این کامند رو بزنید 
# untrack 
# git rm -r --cached . 
# نکته 
# یک پروژه نمیتواند همزمان به دوتا ریپازیتوری اضافه شود 
# هر یک پروژه مختص به یک ریپازیتوری هست 

# نکته 
# فرض کنید یک پروژه رو تا نصفه و حجم بالایی نوشتید و بعد تصمیم گرفتید
# بزنید روی گیتهاب 
# حالا اومدید 
# که با کامندهای اولیه بزنیدش به گیتهاب گیر میکنه 
# راه حل 
# git config http.postBuffer 524288000

# پس سعی کنید همون اول کاری پروژه رو سمت گیتهاب بزنید 
